* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .container {
    font-size: 1.5rem;
    text-align: center;
  }
  header {
    background-color: #2095e8;
    height: 100px;
  }
  nav {
    background-color: #075287;
    display: none;
  }
  main {
    background-color: #4bacbf;
    height: 250px;
  }
  aside {
    background-color: #1a778a;
    height: 150px;
  }
  footer {
    background: #95fceb;
    height: 100px;
  }
}
@media (min-width: 767px) {
  .container {
    font-size: 1.5rem;
    text-align: center;
  }
  header {
    background-color: #2095e8;
    height: 100px;
  }
  nav {
    background-color: #075287;
    height: 100px;
  }
  main {
    background-color: #4bacbf;
    height: 250px;
    width: 70%;
    float: left;
  }
  aside {
    background-color: #1a778a;
    height: 250px;
    width: 30%;
    float: right;
  }
  footer {
    background: #95fceb;
    height: 100px;
    clear: both;
  }
}
